<div class="nav-tabs-navigation">
    <ngb-tabset [justify]="'center'">
        <ngb-tab title="Home">
            <ng-template ngbTabContent>
                <p>"Não nos cansemos de fazer o bem"- Uma das minhas frases favoritas!</p>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Perfil">
            <ng-template ngbTabContent>
                <app-profile></app-profile>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Hobbies">
            <ng-template ngbTabContent>
                <p>Here are your messages.</p>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
