<div class="wrapper">
    <div class="page-header page-header-xs " data-parallax="true" style="background-image: url('./assets/img/karen-uppal.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar ">
                    <img src="./assets/img/faces/mateus-donaire.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Mateus Donaire de Melo<br /></h4>
                    <h6 class="description">"Procurando ser melhor que ontem..."</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <br />
                    <div class="row following" id="follows">
                        <div class="col-md-6 ml-auto mr-auto">
                            <ul class="list-unstyled follows">
                                <li>
                                    <div class="row ">
                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                            <img src="./assets/img/faces/joice-pinheiro.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-10 col-sm-4 ml-auto ">
                                            <h6>Joice Pinheiro<br/><small>Namorada</small></h6>
                                        </div>
                                    </div>
                                </li>
                                <br>
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                            <img src="./assets/img/anhembi-morumbi.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-10 col-sm-4 ml-auto ">
                                            <h6>Anhembi Morumbi<br/><small>ADS</small></h6>
                                        </div>
                                    </div>
                                </li>
                                <br>
                                <li>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                            <img src="./assets/img/itau.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-10 col-sm-4 ml-auto ">
                                            <h6>Itaú Unibanco<br/><small>Dev Jr</small></h6>
                                        </div>
                                    </div>
                                </li>
                            
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <br/>
            
</div>
